body {
    background-color: #6E808D;

}

#wrapper {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 125px;
    /* border: 2px solid red; */
}

#topArea {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6E7269;
}

main {
    background-color: azure;
    width: 1200px;
}

header {
    width: 1200px;
    margin: auto;
    height: 75px;
    border: 1px solid #6E7269;
}

h1 {
    text-align: center;
}

#logo {
    float: left;
    width: 250px;

}

nav {
    float: right;
    width: 600px;
    /*background-color: rgba(255, 99, 71, .5);*/
    border-radius: 15px 15px 0 0;
    margin-top: 25px;
    text-align: center;
}

figure {
    margin: 0;
    padding: 0;
}

#col1, #col2 {
    width: 300px;
    float: left;
    background-color: #6E7269; /*temporary*/
    border: 1px solid gray; /*tem*/
}

#hero {
    height: 350px;
  
    border-radius: 20px;
    border: 1px solid olive;
}

footer {
    text-align: center;
}

/* Nav enhance */
nav ul {list-style-type: none;}

nav li {display: inline-block}