.arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
 
* {
    padding: 0;
    margin: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #6E808D;

}

#wrapper {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 125px;
    
    /* border: 2px solid red; */
}

#topArea {
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #6E7269;
}

main {
    background-color: azure;
    width: 1200px;
}

section {
    text-align: center;
}

aboutUsGIF1 {
    float: right;
    margin: auto;
    padding-left: 10px;
}
header {
    width: 1200px;
    margin: auto;
    height: 75px;
    border: 1px solid #6E7269;
    display: flex;
}

blockquote {
    /*box-shadow: 10px 5px 5px blue;*/
    box-sizing: border-box;
    border: solid #5b6dcd 10px;
    padding: 5px;
}

h1 {
    text-align: center;
}

gallery {
    float: left;
}
iconCart {
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

#logo {
    float: left;
    width: 250px;

}

ul {
    list-style: none;
    background-color: #6E808D;
}

ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    background: #6E808D;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background-color: #6030e9;
}

ul li:hover ul.dropdown {
    display: block;
}
/*nav {
    float: right;
    width: 600px;
    /*background-color: rgba(255, 99, 71, .5);
    border-radius: 15px 15px 0 0;
    margin-top: 25px;
    text-align: center;

}*/

figure {
    margin: 0;
    padding: 0;
}

#col1, #col2 {
    width: 300px;
    float: left;
    background-color: #6E7269; /*temporary*/
    border: 1px solid gray; /*tem*/
}

#hero {
    height: 350px;
  
    border-radius: 20px;
    border: 1px solid olive;
}

footer {
    text-align: center;
}

/* Nav enhance */
nav ul {list-style-type: none;}

nav li {display: inline-block}

#ticketsImg img{

    margin: auto;
    height: auto;
    padding: 10px;


}
#iconCart img{

}
